<div class="publicacion p-2 my-2 border bg-light">
    <div class="row">
        <div class="col-12 col-lg-12 col-sm-12 titulo">
            <div class="row">
                <div class="col-10">
                    <h2 class="mb-0"> <a href="/pregunta/<%- id_publicacion%>" class="text-decoration-underline text-dark"><%= titulo %> </a>  </h2>
                </div>
                <div class="col-2 d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-danger btn-floating">
                        <i class="fas fa-trash-alt"></i>
                </button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="small text-muted mb-0 text-opacity-50"><%= fecha %> ></p>
        </div>
        <div class="col-6 col-lg-10">
            <span class="badge rounded-pill bg-info"><%= nombre %> </span>
        </div>
        <div class="col-6 col-lg-2">
            <p class="text-muted text-center mb-0"> <%= comentarios %>  Respuestas </p>
        </div>
    </div>
</div>