<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
</head>

<body style="background-color: #f4f5f9;">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/notiflix-aio.js"></script>
    <script src="/javascripts/administrar.js"></script>

    <%- include('../partials/navbar', {sesion}) %> 
    <div class="container px-sm-0" >

      <% publicaciones.forEach(publi => { %>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item my-2">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                  data-mdb-target="#panelsStayOpen-collapseOne<%=publi.id%> " aria-expanded="true" aria-controls="panelsStayOpen-collapseOne<%=publi.id%>">
                  <div class="row">
                      <div class="col-12">
                            <%= publi.titulo %> 
                      </div>
                  </div>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne<%=publi.id%>" class="accordion-collapse collapse" aria-labelledby="headingOne">
                <div class="accordion-body">
                  <%- publi.contenido %> 
                  <div class="row">
                      <div class="col-12 text-center">
                        <span class="badge rounded-pill bg-info mb-3"><%= publi.nombre %> </span>
                      </div>
                      <div class="col-12 text-center">
                        <button class="btn border border-success" title="Aprobar" onclick="aprobar(<%= publi.id%>, <%= publi.id_propietario%>)">
                            <i class="fas fa-check-circle"></i>
                        </button>
                        <button class="btn border border-warning" title="Denegar" onclick="denegar(<%= publi.id%>, <%= publi.id_propietario%>)">
                            <i class="fas fa-minus-circle"></i>
                        </button>
                        <button class="btn border border-danger" title="Bloquear usuario" onclick="bloquearUsuario(<%= publi.id%>, <%= publi.id_propietario%>)">
                            <i class="fas fa-ban"></i>
                        </button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <% }) %>
    </div>
    
</body>

</html>