<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

</head>

<body style="background-color: #f4f5f9;">

    <%- include('../partials/navbar') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/notiflix-aio.js"></script>

    <div class="container px-sm-0">
<!-- Publicacion -->
        <div class="row">
            <div class="col-12">
                <div class="card text-center rounded-0 my-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0"><%= pregunta.titulo %>  <!-- A --></h5>
                    </div>
                    <div class="card-body pt-2">
                        <span class="badge rounded-pill bg-info mb-2"><%= pregunta.nombre %>  <!-- AQUI IRA el nombre de la persona--> </span>
                        <div class="card-text">
                            <!-- AQUI SE PONDRA EL TEXTO -->
                            <%- pregunta.contenido %> 
                            <!-- <p>Aqui se dira la pregunta y se daran datos sobre ella.</p>
                            <p><span class="ql-size-huge">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, hic praesentium. Velit id unde nisi veniam enim consequatur suscipit facilis fugit obcaecati. Ab deserunt alias similique nobis laudantium iusto recusandae. Delectus architecto, sapiente a atque voluptas non impedit maiores eius, magnam nam voluptatum ratione soluta aliquam recusandae ipsam perferendis? Sapiente sint natus deleniti corporis dolorem consectetur distinctio fuga voluptatum cum! Voluptatem, fugit aperiam! Quia aspernatur ullam autem repellendus. Laborum, aspernatur officiis? Nisi iste, iure asperiores atque provident esse placeat culpa, vero nobis in facere aperiam dolore ipsam harum, qui rerum?!</span></p><p>Some initial <strong>bold</strong> text</p><p><br></p> -->
                        </div>

                        <!-- <a href="#" class="btn btn-primary">Button</a> -->
                    </div>
                    <div class="card-footer text-muted"><%= pregunta.fecha %> </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="responder my-3 p-3">
            <% if (sesion.usid !== undefined) { %>
                <form action="" method="post" onsubmit="comentar(event, this)">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <input type="text" name="respuesta" id="" class="form-control form-control-lg w-100" placeholder="Escribe tu respuesta aqui" minlength="1" required>
                        </div>
                        <div class="col-12 col-lg-4 mt-sm-3">
                            <button class="w-100 btn btn-primary mt-lg-2 ml-l-0">Enviar!</button>
                        </div>
                    </div>
                </form>
            <% } else { %>
                <%- include('../partials/alertaInicioSesion', {mensaje: "¡No puede responder sin iniciar sesion!"}) %>
            <% } %>
            
        </div>

        <h2 class="text-start">Respuestas:</h2>
        <!--  -->
        <% if (comentarios.length > 0) { %>
            <% comentarios.forEach(comentario => { %>
                <%- include('../partials/comentarios', {sesion, comentario, id, idPropietario: pregunta.id_prop}) %> 
            <% }) %>
        <% } else { %>
                <!-- CONSTRUIR ALGO PARA CUANDO NO HAY COMENTARIOS -->
                <h3>Aun no hay respuestas...</h3>
            
        <% } %>
        
      </div>
      <script src="/javascripts/responder.js"></script>
</body>

</html>